<div class="top">
<div class="box">
    <h2 class="header">SignUp Now!</h2> 
<div class="form">
  <form > 
    
        <div >            
           <!-- <label><b>Name</b></label>-->
        
                <input type="text" class="awsome_input"placeholder="Enter your name" name="name" required>
                <!--<span class="awsome_input_border"/>-->
        </div>
        
        <div>
            <!--  <label><b> Age</b></label>-->
       
            <input type="text" placeholder="Enter your age" name="gender" required>
        </div>
        <div>
            <!--  <label><b>Email</b></label>-->
       
            <input type="email" placeholder="Enter your email" name="email" required>
        </div>
        
         <div>
            <!--  <label><b>phone number</b></label>-->
            <input type="number" placeholder="Enter your mobile No" id="phone"/>                      
        </div> 
        <div>
           <!--   <label><b>Post medical history</b></label>-->
            <input type="text"  placeholder="Post medical history" name="text" required>
        </div>
        
         <div>
           <!--   <label><b>Presesnt medical history</b></label>-->
            <input type="text" placeholder="Presesnt medical history"  name="text" required>
        </div>
            
        
         <div>
           <!--   <label><b>purpose for counselling</b></label>-->
            <input type="text" placeholder="Purpose for counselling" name="text" required>
        </div>
        
        <div>	
            <label class="drop"><b>Gender</b></label>			
                        <select name="gender"id="dropdown"style="display: inline-block;width: 140px; text-align: left; padding:5px;">
                <option value="0">Select</option>
                <option value="1">Female</option>
                <option value="2">Male</option>
                </select>             
        </div>
        <div>
            <label><b>Work type</b></label>&nbsp;
                <select name="search_categories"id="dropdown"style="display: inline-block;width: 150px; text-align: left; padding:5px;">
                 <option value="0">Select</option>
                <option value="1" >Sedandary</option>
                <option value="2">Moderate</option>
                <option value="3">Hard</option>
                </select>
        </div>
    
                
      
  </form>
</div>		
<div class="row3">			
    <div class="submit">      
     <a><button type="submit">Submit</button></a>   
    <a routerLink="/home">
    <button type="back" >Back</button></a>
</div>  
</div> 
</div>                            
