<div class="row5">
    <div class="column-a">
       <img src="assets\images (1).jpg"/>
    </div>

    <div class="column-b">
        <h1>Links</h1>
        <li><a>Consult</a></li>
        <li><a>Diet plan</a></li>
        <li><a>Appointment</a></li>
    </div>
    <div class="column-c">
         <h1>NewsLetter</h1>
         <form class="email">
         <input type="email" id="email"/>
         <button id="button">subscribe</button>
         </form>
    </div>
    <div class="column-d">
      <h1>Contact Us Now</h1>
        <p><font face="Webdings">H</font>&nbsp;  
         62, Srinivasan Nagar,<br>
         &nbsp; &nbsp; &nbsp; Officers town,<br>
         &nbsp; &nbsp; &nbsp; Madurai, 625017.<br>
         </p>
        <p><font face="Wingdings" style="font-size: 25px;">)</font>&nbsp; 63744 10669</p>
        <p><font face="Wingdings">*</font>&nbsp;&nbsp; rajalakshmimsc@gmail.com</p>
        <div class="icon">
            <img src="assets\whifac.jpg"/>
            <img src="assets\whiins.jpg"/>
            <img src="assets\icon.png"/>
        </div>
        
    </div>
</div>

