<div class="row1">
    <div class="tag">
        <h2>
            We are providing a best medical<br> 
            consultation to your health.
         </h2>
     </div>
</div>
        <div class="row2">
            <div class="pic-nav1">
                <div class="column-1">
                   <div>
                       <a routerLink="/Gastro">
                       <img src="assets\image1.png"/></a>
                       </div><br>    
                       <label>Gastrology</label>
                </div>
        
                <div class="column-1">
                   <div>
                       <a routerLink="/pedia">
                       <img src="assets\image2.png"/></a>
                    </div> <br>
                   <label>Pediatrics</label>
                </div>
        
                <div class="column-1">
                   <div>
                    <a routerLink="/nephro">
                   <img src="assets\image3.png"/></a>
                </div> <br>
                   <label>Nephrology</label>
                </div>
            </div>    
        </div>
        
        <div class="row3">
            <div class="pic-nav2">
               <div class="column-2">
                  <div>
                      <a routerLink="/onco">
                      <img src="assets\image4.png"/></a>
                    </div>
                  <br>
                  <label>Oncology</label>
                </div>
        
                <div class="column-2">
                    <div>
                        <a routerLink="/weightloss">
                        <img src="assets\image5.png"/></a>
                    </div> <br>
                    <label>Weight Loss</label>
                </div>
        
                <div class="column-2">
                    <div>
                        <a routerLink="/weightgain">
                        <img src="assets\image6.png"/></a>
                    </div> <br>
                    <label>Weight Gain</label>
                </div>
            </div>
        </div>
        
        <div class="row4">
            <div class="pic-nav3">
               <div class="column-3">
                   <div>
                    <a routerLink="/pregnancy"> 
                    <img src="assets\image7.png"/></a>
                </div><br>
                    <label>Pre-pragnancy Diet</label>
                </div>
        
                <div class="column-3">
                    <div>
                        <a routerLink="/diabetes">
                        <img src="assets\image8.png"/></a> 
                    </div><br>
                    <label>Diabetes Millitus</label>
                </div>
        
                <div class="column-3">
                   <div>
                    <a routerLink="/hyper">  
                    <img src="assets\image9.png"/></a>
                </div> <br>
                   <label>Hypertension</label>
                </div>
            </div>
        </div>

       


