<div class="container">
    <div class="row1">
        <div class="toprow">
            <div align="center" class="topright">
                <img src="assets\lady1.jpg"/>
            </div>  
            <div class="topleft">
                 <h1> "Nutrition is the medicine of tomorrow" </h1>
                 <h2>  Even in this high-tech age, the low-tech plant continues 
                  <br>  to be the key to nutrition and health </h2>
                <div class="btn">
                    <div class="top-btn">
                    <a>Consult Now</a>
                    </div>   
                </div> 
            </div>     
        </div>
    </div>
    <div class="row2">
        <div class="innerhead">
          <h1>Diet for</h1>
        </div>
    
        <div class="innercolumn">
            <div class="column1">
                <div><img src="assets\dia.png"/></div>
                <label>Diabetes Patients</label>
                <p>Do you have diabetes? If this is the case, 
                    now is the time to take control of your blood glucose levels
                    by following a specific eating plan tailored to your body's demands.
                    There are numerous misconceptions concerning the connection between diabetes and eating.
                     I'm here to help you figure out if you're on the right track by regulating your eating choices. 
               </p>
               
               
            </div>
    
            <div class="column1">
                <div><img src="assets\canoutline.png"/></div>
                <label>Cancer Patients</label>
                <p>Believe! To find the diamond, you'll have to dig a little further. 
                    Have you ever been unsure about what to eat and what to avoid? Choosing the correct meal not only aids in recovery, 
                     but also helps you avoid subsequent problems. The diet will be precisely created based on your levels,
                     treatment approaches, and intake conditions. Have faith in your diet. 
                </p>
            </div>
    
            <div class="column1">
                <div><img src="assets\outlinepreg.jpg"/></div>
                <label>pregnant ladies</label>
                <p>Bringing a child into the world and raising him to be a part of it is identical to how God created this world.
                      A well-balanced diet is crucial at this time,
                       not just for your health but also for your fetus's psychological and social development.
                        As a mother and a nutritionist, I can enable you to connect to a healthier eating plan. 
                        Let us  join hands during this auspicious time to receive our healthiest young one.
                </p>
            </div>
    
            <div class="column1">
                <div><img src="assets\fitout.png"/></div>
                <label>Fitness</label>
                <p>Fitness, in my opinion, does not imply reducing weight or achieving an out-of-shape physique. 
                    It completely reduce undesirable fat from the body while also improving physiological functions.
                    Let's debunk some food misconceptions and fads. 
                      I'm here to help you achieve your fitness goals by providing you with a proper nutrition plan.
                </p>
            </div>      
        </div>    
    </div>
    <div class="row2of2">
        <div class="box">
         <div class="text">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Corporis, laudantium dicta cupiditate blanditiis expedita
                 iure impedit totam nulla optio sapiente magni eveniet dolore accusamus sed beatae incidunt? Nobis, cum.
                 Voluptate?
             </p>
         </div>
         <div class="textbtn">
             <a>Consult Now</a>
             <a href="Additional.html">Diet Plans</a>
         </div>
       </div> 
    </div>   
    <div class="row3">
        <div class="row3-inner">
            <div class="row3head">
                  <h1>Success stories</h1>   
            </div>
            <div class="slideshow-container">
    
                <div align="center" class="mySlides fade">
                   <div class="numbertext">1 / 3</div>
                      <div class="txt">
                       <div><img src="assets\person1.jpg" style="float:left"></div>
                       <div>
                        <p>I've had a lot of health problems throughout the years. She genuinely discovered and assisted me 
                            in overcoming the difficulties, not only via diet counselling but also by assisting us in changing
                             our lifestyle. I can't say enough good things about my counselling experience with her. 
                             She truly understands and is aware of our issue. As a result, she provides one-of-a-kind advice. 
                              </p>
                       </div>
                      </div>
                    <div class="txt">
                      <div>
                          <img src="assets\person1.jpg" style="float:left">
                        </div>
                      <div>
                        <p>To express my gratitude to Raji, a superb nutritionist, 
                            for all of her advice and attention when I first approached her. 
                            I've already sought the advice of a few nutritionists and come up with the identical eating plan and charts.
                             However, her approach to counselling and dealing with clients differs significantly from that of others. 
                             She truly understands and is aware of our issue. As a result, she provides one-of-a-kind advice.
                             </p>
                      </div>
                    </div>
                </div>
              
                <div  align="center" class="mySlides fade">
                  <div class="numbertext">2 / 3</div>
                    <div class="txt">
                     <div><img src="assets\person2.jpg" style="float:left"></div>
                     <div>
                        <p>She is always prompt in responding, and I appreciate her excellent nutrition recommendations and support.
                            I had been suffering with constipation for a long time. This was a frustrating problem for me,
                             and I tried everything I could think of.
                             Raji was suggested to me by a friend after my doctor advised me to see a dietician.
                             She is always very good at explaining food processes and how they affect our body.
                            </p>
                     </div>
                    </div>
                    <div class="txt">
                        <div><img src="assets\person2.jpg" style="float:left"></div>
                        <div>
                            <p>I admire how up to date she is on the most recent material, which she incorporates 
                                into her counselling as well.
                                I owe her a debt of gratitude for her compassion and guidance.
                                She solved my problem in less than two months.
                                She has not only advised on proper nutrition plans, but she has also talked to her clients,
                                making them feel good and boosting their spirits..</p>
                        </div>
                    </div>
                </div>
              
                <div  align="center" class="mySlides fade">
                  <div class="numbertext">3 / 3</div>
                    <div class="txt">
                        <div><img src="assets\person3.jpg" style="float:left"></div>
                        <div>
                           <p>She is always prompt in responding, and I appreciate her excellent nutrition recommendations and support.
                            I had been suffering with constipation for a long time. This was a frustrating problem for me,
                             and I tried everything I could think of.
                             Raji was suggested to me by a friend after my doctor advised me to see a dietician.
                             She is always very good at explaining food processes and how they affect our body.</p>
                        </div>
                        </div>
                        <div class="txt">
                            <div><img src="assets\person3.jpg" style="float:left"></div>
                            <div>
                               <p>I admire how up to date she is on the most recent material, which she incorporates 
                                into her counselling as well.
                                I owe her a debt of gratitude for her compassion and guidance.
                                She solved my problem in less than two months.
                                She has not only advised on proper nutrition plans, but she has also talked to her clients,
                                making them feel good and boosting their spirits..</p>
                            </div>
                        </div>
                </div>
                <div>
                 <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                 <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
              
                <div class="lastdot">
                   <span class="dot" onclick="currentSlide(1)"></span> 
                   <span class="dot" onclick="currentSlide(2)"></span> 
                   <span class="dot" onclick="currentSlide(3)"></span> 
                  </div>
              </div>
        </div>
    </div>
    <div class="row4">
        <div class="headrow4">
            <h1>How it works</h1>
        </div>
    
        <div class="innerrow4">
            <div class="column-001">
                <div><img src="assets\no1.png"/></div>
                <label>Book an appointment</label>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                   Fuga vitae error eaque necessitatibus, nostrum cupiditate eligendi porro non, 
                   est soluta minima obcaecati pariatur odit tempora eum sint.
                   Delectus, reprehenderit animi!
                </p>
            </div>
    
            <div class="column-001">
                <div><img src="assets\no2.png"/></div>
                <label>Get an consultation</label>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                   Fuga vitae error eaque necessitatibus, nostrum cupiditate eligendi porro non, 
                   est soluta minima obcaecati pariatur odit tempora eum sint.
                   Delectus, reprehenderit animi!
                </p>
            </div>
    
            <div class="column-001">
                <div><img src="assets\noo3.png"/></div>
                <label>Have a diet plan</label>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                   Fuga vitae error eaque necessitatibus, nostrum cupiditate eligendi porro non, 
                   est soluta minima obcaecati pariatur odit tempora eum sint.
                   Delectus, reprehenderit animi!
                </p>
            </div>
        </div>
    </div>
      
    
    
             
        
      
    
