@media screen and (min-width: 480px){
    li{
       display: block;  
    }
   body{
     width: 100%;
     margin:0 ;
     padding:0 ;
     font-family:Arial, Helvetica, sans-serif,Verdana,'Muli';
     overflow-x: hidden;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }
   .header-nav{
     width:100%;
     height:100px;
     background-color:rgb(49, 110, 100);
     padding:1rem;
   }
   .left{
     width:25%;
     float: left;
     padding: 0px;   
   }
   .right1{
     width:40%;
     float: left;
     font-family: 'Courier New', Courier, monospace;  
   }
   .right1 a{
     color:white;
     text-decoration: none;
   }
   .right1 li{
     float:left;
     list-style: none;
     color: white;
     padding: 10px;
     font-weight: bold;
     font-size: 20px;
   }
   .right1 li :hover{
     color:rgb(250, 199, 106); 
   }
   .right1 li a.active{
     color:rgb(250, 199, 106);
   }
   .right2{
     width:25%;
     float:right;
     padding-top:20px;  
   }
   .right2 a{
       margin-left:60px;
       text-align: center;
       border: none; 
       padding:10px 30px;
       background-color:rgb(226, 127, 92) ;
       color:white;
       text-decoration:none;
       transition:0.6s ease;
       cursor: pointer;
       transform: translate(-50%,-50%);
       font-family: cursive;
       border-radius: 5px;
     }
     .right2 a:hover{
       background-color:rgb(235, 118, 76);
       color:black;
       box-shadow : 0 8px 16px 0 white, 
                       0 6px 20px  0 white; 
     }
   .right1:after,.right2:after, .left:after {
     content: "";
     display: table;
     clear: both;
     }
   .container{
     width:100%; 
     padding: 0; 
     margin: 0;   
     }
     .row1{
       height:auto;
     }
     .row1{
       width: 100%;
       background-color: rgb(49, 110, 100); 
       height: 70px;
       padding-left: 30px; 
       padding-top: 1.5em;
     }
     .row1 label{
         width:50%;
         padding-left: 50px;
         text-align: center;
         justify-content: center;
         color: white;
     }
     .row1:after{
       content: "";
       display: table;
       clear: both;
     }
     .row2{
         width:100%;    
     }
     .list{
       width: 100%;
       justify-content: center;
       vertical-align: top;
       padding-left: 80px;
     }
     .list ul li{
       list-style-type: disc;
       list-style-position: inside;
       padding:8px;
       text-indent: -1em;
     }
     .list ul {
       width: 70%;
       text-align: justify;
     
       list-style: none;
     }
     .list ul li::before {
      
       padding: 10px;
       content: "\2022";
       color: red;
       font-weight: bold;
       display: inline-block; 
       width: 1em;
       margin-left: -1em;
     
     }
   .row2:after{
     content: "";
     display: table;
     clear: both;
   }
     .row3{
       width:80%;
       text-align: center;
       justify-content: center;
       padding: 40px;
     }
     .row3 button{
       text-align: center;
       border: none; 
       padding:10px 30px;
       background-color:rgb(243, 121, 77) ;
       color:white;
       text-decoration:none;
       transition:0.6s ease;
       cursor: pointer;
       transform: translate(-50%,-50%);
       font-family: cursive;
       font-weight: bold;
       font-size: 15px;
      
     }
     .row3 button:hover{
       background-color:rgb(235, 118, 76);
       color:black;
       box-shadow : 0 8px 16px 0 rgb(112, 96, 96), 
                       0 6px 20px  0 white; 
     
     }
     
     .container:after{
       content: "";
       display: table;
       clear: both;
     }
     
    
     .row5{
       width:100%;
       background-color: rgb(49, 110, 100);
     }
     .column-a{
       float:left;
       width:15%;
     }
     .column-a img{
       padding: 20px;
     }
     .column-b{
       float:left;
       width:20%;
     }
     .column-b h1{
       color:white;
       font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    }
    .column-b li{
     color:white;
     list-style: none;
     padding: 5px;
     font-family: cursive;
   }
   .column-b li :hover{
     color:rgb(5, 71, 133);
     text-decoration: underline;
   }
     .column-c{
       float:left;
       width:30%;
     }
     .column-c h1{
       color: white;
       font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
     }
     .column-c button{
       background-color: rgb(243, 121, 77);
       font-family: cursive;
     }
     .column-c button:hover{
       background-color:rgb(235, 118, 76);
       color:black;
       box-shadow : 0 8px 16px 0 white, 
                       0 6px 20px  0 white; 
     }
     .column-d{
       float:left;
       width:30%;
     }
    
     .column-d h1{
       color:white;
       font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
     }
     .column-d p{
       color:white;
       font-family: cursive;
       
     }
     .icon img{
       padding: 3px;
       width:8%;
       height:8%;
       border-radius: 30px;
     }
     .row5:after {
       content: "";
       display: table;
       clear: both;
     }
     
     .modal {
       display: none; /* Hidden by default */
       position: fixed; /* Stay in place */
       z-index: 1; /* Sit on top */
       padding-top: 100px; /* Location of the box */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       overflow: auto; /* Enable scroll if needed */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }
     
     /* Modal Content */
     .modal-content {
       background-color: #fefefe;
       margin: auto;
       padding: 20px;
       border: 1px solid #888;
       width: 30%;
       height: 60%;
     }
     
     /* The Close Button */
     .close {
       color: #aaaaaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
     }
     
     .close:hover,
     .close:focus {
       color: #000;
       text-decoration: none;
       cursor: pointer;
     }
     .form-box {
       width:80%;
       height:100px;
       padding: 16px;
       background-color: white;
     }
     .form-box label{
       float: left;
       color:rgb(49, 110, 100);
     }
     /* Full-width input fields */
     input[type=text], input[type=number] {
       width: 100%;
       padding: 15px;
       margin: 5px 0 22px 0;
       display: inline-block;
      
      
     }
     
     input[type=text]:focus, input[type=file]:focus, input[type=number]:focus {
       
       outline: none;
     }
     
     /* Overwrite default styles of hr */
     hr {
       border: 1px solid #f1f1f1;
       margin-bottom: 25px;
     }
     
     /* Set a style for the submit button */
     .upfile button {
       color: white;
       align-items: center;
       justify-content: center;
       margin: 40px;
       margin-left: 50%;
       border-radius: 5px;
       cursor: pointer;
       opacity: 0.9;
     }
     
     .upfile button :hover {
       opacity: 1;
     }
     .upfile a{
       color:black;
       text-decoration: none;
     }
     
     
    /* .upload-btn-wrapper {
      /* position: relative;
       overflow: hidden;
       display: inline-block;
       padding-left: 90px;
    
     }
     
     .upload-btn-wrapper button{ 
      
       border: 2px solid gray;
       color: gray;
       background-color: white;
       padding: 6px 10px;
       border-radius: 5px;
       font-size: 15px;
       
     }
     
     .upload-btn-wrapper input[type=file] {
       font-size: 60px;
       /*position: absolute;
       left: 0;
       top: 70px;
       opacity: 0;
     }*/
     .file{
       padding-left: 35px;
       display: inline-block;
       padding-left: 10px;
       text-decoration: underline;
       font-family: sans-serif;
       cursor: pointer;
     }
     .file:hover{
       color:chocolate;
     }
}