<div class="row1">
    <label style="font-size: 27px;">Pediatrics<img src=""/></label>      
</div>

<div class="row2">
    <div class="list">
        <ul>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Esse delectus.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Esse delectus, nobis doloribus ea a adipisci?Lorem. ipsum dolor sit amtet 
                consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Esse delectus, nobis doloribus ea a adipisci?</li> 
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Esse delectus, nobis doloribus ea a adipisci?</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Esse delectus, nobis doloribus ea a adipisci?ipsum dolor sit amtet 
                consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Esse delectus, nobis doloribus ea a adipisci?</li>  
        </ul>
   </div>
</div>

<div class="row3">
    <div>
    <a routerLink="/signup">
         <button id="myBtn">Sign up</button></a>
     </div>
    
 </div>
      
   